:root {
	--yellow: #E6DB74;
	--green: #A6E22E;
	--orange: #FD971F;
	--purple: #AE81FF;
	--pink: #F92672;
	--blue: #66D9EF;

	--background: #272822;
	--foreground: #36372F;

	--white: #fff;
	--black: #000;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	color: var(--white);
	background: var(--background);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
	color: var(--blue);
}

a.active {
	text-decoration: none;
	color: var(--white);
	pointer-events: none;
	cursor: default;
}

button {
	border: none;
	background: var(--green);
	color: var(--black);
	padding: 0.4rem 1rem;
	font-size: 1rem;
}

input {
	border: none;
	border-radius: 3px;
	color: var(--white);
	background: var(--foreground);
	width: calc(100% - 0.5rem);
	height: 1.75rem;
	font-size: 1rem;
	padding-left: 0.5rem;
	margin-top: 0.25rem;
	margin-bottom: 1rem;
}

table.tree {
	font-size: 1.15rem;
	width: 100%;
}

table.tree td {
	border-radius: 3px;
	padding: 0.25rem 0.5rem;
}

table.tree tr:nth-child(odd) {
  background-color: var(--foreground);
}

ul.menu {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 1.15rem;
}

ul.breadcrumbs {
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	list-style: none;
	padding: 0;
	font-size: 1.15rem;
}

ul.breadcrumbs li+li:after {
  margin: 0 0.5rem;
  content: "/\00a0";
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 1rem;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 48px;
}

.navbar a {
	font-size: 1.15rem;
	color: var(--white);
}

.error {
	color: var(--pink);
}

.card {
	margin: 0.5rem 0;
	padding: 0.5rem;
	border-radius: 3px;
	background: var(--foreground);
}

.markdown {
	background: var(--foreground);
	border-radius: 3px;
	margin: 0.5rem 0;
	padding: 0.5rem;
}

.markdown pre {
	padding: 0.5rem;
	border-radius: 3px;
}

.code {
	border: 2px solid var(--foreground);
	border-radius: 3px;
}

.code {
	padding: 0.5rem;
}

.paginate {
	display: flex;
	justify-content: space-between;
}
